/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.products_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.form-group {
  margin: 5px;
  display: flex;
  flex-direction: column;
}

form {
  border: 4px double black;
  background: rgb(208, 207, 207);
  padding: 5px;
}

.confirm-button {
  height: 50px;
  text-transform: uppercase;
}

.flash_messages {
  text-transform: uppercase;
  color: red;
}
